:host {
  position: fixed;
  inset: 0;
  display: block;
  background-image: url(https://picsum.photos/1920/1080);
  background-size: cover;
  font-family: Arial, sans-serif;

  .clima-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 24px;
    text-align: center;

    .card {
      width: 95%;
      max-width: 450px;
      background-color: rgba(10, 14, 22, 0.75);
      padding: 30px 40px;
      border-radius: 20px;
      border: 0.5px solid rgba(255, 255, 255, 0.474);
      backdrop-filter: blur(20px) saturate(1.5);
      box-shadow: 0 10px 18px #6d6d6dd0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      #titulo {
        color: #000;
        font-size: 24px;
        margin-bottom: 10px;
      }

      .city {
        color: #000;
        font-size: 48px;
        font-weight: bold;
      }
      .icon {
        transform: scale(3);
      }


      .temp {
        color: #000;
        font-size: 28px;
        font-weight: bold;
      }

      #botao-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 15px;

        .icon {
          width: 60px;
          height: 60px;
        }

        .desc {
          color: #ededed;
          font-size: 16px;
          text-transform: capitalize;
        }

        #botao {
          border: none;
          border-radius: 25px;
          width: 180px;
          height: 45px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          background: linear-gradient(90deg, #4facfe, #00f2fe);
          background-size: 200% 100%;
          background-position: left;
          cursor: pointer;
          transition: all 0.5s ease;
        }

        #botao:hover {
          background-position: right;
          transform: scale(1.05);
        }
      }

      &:hover {
        transform: scale(1.05);
        transition: 0.5s;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(https://cdn-0001.qstv.on.epicgames.com/UmFwHSIPPUUsHrSdrA/image/landscape_comp.jpeg);
        background-size: cover;
        transition: 1s;
      }
    }
  }
}
